
    <!-- Header -->
    <header class="header">
        <!-- Top Bar -->
        <div class="top_bar">
            <div class="container">
                <div class="row">
                    <div class="col d-flex justify-content-between flex-row">
                        <div class="logo_container">
                            <div class="logo"><a href="#"><img src="../assets/images/simacLogo.jpg" id="imgSimacLogo"></a></div>
                        </div>
                        <div class="top_bar_content ml-auto ">
                            
                            <div class="top_bar_user" >
                                <div class="user_icon"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918647/user.svg" alt=""></div>
                                <div><a href="/home">{{user.first_name}} {{user.last_name}}</a></div>
                                <div class="signOut_icon"><img id="imgSignout" src="../assets/images/sign-out.png" alt=""></div>
                                <div><a class="pointer" (click)="onLogout()">Sign out</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  <!-- Main Navigation -->
        <nav class="main_nav">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="main_nav_content d-flex flex-row" >
                            
                            <!-- Categories Menu -->
                            <!-- Main Nav Menu -->

                            <div class="main_nav_menu">
                                <ul class="standard_dropdown main_nav_dropdown">
                                    <li><a href="/home" class="homeItem">Home<i class="fas fa-chevron-down"></i></a></li>
                                    <li class="hassubs" > <a href="#" class="homeItem">Services</a>
                                        <ul style="background-color: #0a599e; ">
                                            <li class="sous-item" > <a href="/etape1">Lancer une procédure de signature<i class="fas fa-chevron-down"></i></a>
                                                
                                            </li>
                                            <li class="sous-item" > <a href="/listeProcessus">Liste des procédures de signature<i class="fas fa-chevron-down"></i></a>
                                                
                                            </li>
                                            <li class="sous-item" > <a href="/sign">Fichiers à signer<i class="fas fa-chevron-down"></i></a>
                                                
                                            </li>
                                            <li class="sous-item" *ngIf="this.auth.isAdmin()"> <a href="/addUser">Ajouter utilisateur<i class="fas fa-chevron-down"></i></a>
                                                
                                            </li>
                                            <li class="sous-item" *ngIf="this.auth.isAdmin()"> <a href="/users">Liste des utilisateurs<i class="fas fa-chevron-down"></i></a>
                                                
                                            </li>
                                            <li class="sous-item" *ngIf="this.auth.isAdmin()"> <a href="/addDepartement">Ajouter departement<i class="fas fa-chevron-down"></i></a>
                                                
                                            </li>
                                            <li class="sous-item" *ngIf="this.auth.isAdmin()"> <a href="/departements">Liste des departements<i class="fas fa-chevron-down"></i></a>
                                                
                                            </li>
                                            

                                                
                                        
                                        </ul>
                                    </li>
                                    
                                   
                                    <li><a href="/aPropos" class="homeItem">A propos<i class="hfas fa-chevron-down"></i></a></li>
                                    <li><a href="/contact" class="homeItem">Contact<i class=" fas fa-chevron-down"></i></a></li>
                                </ul>
                            </div> <!-- Menu Trigger -->
                            <div class="menu_trigger_container ml-auto">
                                <div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
                                    <div class="menu_burger">
                                        <div class="menu_trigger_text">menu</div>
                                        <div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav> <!-- Menu -->
        <div class="page_menu">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="page_menu_content">
                            <ul class="page_menu_nav">
                                <li class="page_menu_item has-children"> <a href="#">Language<i class="fa fa-angle-down"></i></a>
                                    <ul class="page_menu_selection">
                                        <li><a href="#">English<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Italian<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Spanish<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Japanese<i class="fa fa-angle-down"></i></a></li>
                                    </ul>
                                </li>
                                <li class="page_menu_item has-children"> <a href="#">Currency<i class="fa fa-angle-down"></i></a>
                                    <ul class="page_menu_selection">
                                        <li><a href="#">US Dollar<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">EUR Euro<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">GBP British Pound<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">JPY Japanese Yen<i class="fa fa-angle-down"></i></a></li>
                                    </ul>
                                </li>
                                <li class="page_menu_item"> <a href="#">Home<i class="fa fa-angle-down"></i></a> </li>
                                <li class="page_menu_item has-children"> <a href="#">Super Deals<i class="fa fa-angle-down"></i></a>
                                    <ul class="page_menu_selection">
                                        <li><a href="#">Super Deals<i class="fa fa-angle-down"></i></a></li>
                                        <li class="page_menu_item has-children"> <a href="#">Menu Item<i class="fa fa-angle-down"></i></a>
                                            <ul class="page_menu_selection">
                                                <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                                <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                                <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                                <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                    </ul>
                                </li>
                                <li class="page_menu_item has-children"> <a href="#">Featured Brands<i class="fa fa-angle-down"></i></a>
                                    <ul class="page_menu_selection">
                                        <li><a href="#">Featured Brands<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                    </ul>
                                </li>
                                <li class="page_menu_item has-children"> <a href="#">Trending Styles<i class="fa fa-angle-down"></i></a>
                                    <ul class="page_menu_selection">
                                        <li><a href="#">Trending Styles<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                    </ul>
                                </li>
                                <li class="page_menu_item"><a href="blog.html">blog<i class="fa fa-angle-down"></i></a></li>
                                <li class="page_menu_item"><a href="contact.html">contact<i class="fa fa-angle-down"></i></a></li>
                            </ul>
                            <div class="menu_contact">
                                <div class="menu_contact_item">
                                    <div class="menu_contact_icon"><img src="images/phone_white.png" alt=""></div>+38 068 005 3570
                                </div>
                                <div class="menu_contact_item">
                                    <div class="menu_contact_icon"><img src="images/mail_white.png" alt=""></div><a href="mailto:fastsales@gmail.com">fastsales@gmail.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    

