
    <!-- Header -->
    <header class="header">
        <!-- Top Bar -->
        <div class="top_bar">
            <div class="container">
                <div class="row">
                    <div class="col d-flex flex-row">
                        <div class="logo_container">
                            <div class="logo"><a href="#"><img src="../assets/images/simacLogo.jpg" id="imgSimacLogo"></a></div>
                        </div>
                        <div class="top_bar_content ml-auto">
                            
                            <div class="top_bar_user">
                                <div class="user_icon"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918647/user.svg" alt=""></div>
                                <div><a href="#">Utilisateur</a></div>
                                <div class="signOut_icon"><img id="imgSignout" src="../assets/images/sign-out.png" alt=""></div>
                                <div><a href="#">Sign out</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  <!-- Main Navigation -->
        <nav class="main_nav" style="background-color: #3f05ce;">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="main_nav_content d-flex flex-row" >
                            
                            <!-- Categories Menu -->
                            <!-- Main Nav Menu -->

                            <div class="main_nav_menu">
                                <ul class="standard_dropdown main_nav_dropdown">
                                    <li><a href="#" class="homeItem">Home<i class="fas fa-chevron-down"></i></a></li>
                                    <li class="hassubs" > <a href="#" class="homeItem">Services</a>
                                        <ul style="background-color: #3f05ce; ">
                                            <li class="sous-item" > <a href="#">Créer un processus<i class="fas fa-chevron-down"></i></a>
                                                
                                            </li>
                                            
                                        </ul>
                                    </li>
                                    
                                   
                                    <li><a href="blog.html" class="homeItem">A propos<i class="hfas fa-chevron-down"></i></a></li>
                                    <li><a href="contact.html" class="homeItem">Contact<i class=" fas fa-chevron-down"></i></a></li>
                                </ul>
                            </div> <!-- Menu Trigger -->
                            <div class="menu_trigger_container ml-auto">
                                <div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
                                    <div class="menu_burger">
                                        <div class="menu_trigger_text">menu</div>
                                        <div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav> <!-- Menu -->
        
    </header>
    

