

    <footer style="background-color: #fafafa;">
      <div class="container p-4">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-4">
            <h5 class="mb-3 ">MySignDoc</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
              molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
              voluptatem veniam, est atque cumque eum delectus sint!
            </p>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
            <h5 class="mb-3 ">liens</h5>
            <ul class="list-unstyled mb-0">
              <li class="mb-1">
                Email: contact@simac.tn
              </li>
              <li class="mb-1">
                Tél: (+216) 71 329 616
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
            <h5 class="mb-1 ">Heures de travail</h5>
            <table class="table" style="border-color: #666;">
              <tbody>
                <tr>
                  <td>Mon - Fri:</td>
                  <td>8h - 12h</td>
                 
                </tr>
                <tr>
                  <td></td>
                  <td>14h - 18h</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="text-center p-3" style="background-color: #3f05ce; color: #fff;">
        © 2022 Tous les droits réservés :
        <a  href="#" style="color: white;">Simac</a>
      </div>
      <!-- Copyright -->
    </footer>
    

  <!-- End of .container -->
