<app-header></app-header>
<div class="wrapper row  justify-content-center align-items-center">
<div class="col-lg-7 mt-2">
    
    <form #f="ngForm" *ngIf="currentUser" (ngSubmit)="onUpdateUser(f['value'])">
        <div class="text-center mb-5"><h1>Modifier Utilisateur</h1></div>
    <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="form3Example1">Prénom:</label>
                <input type="text" name="first_name" id="form3Example1" class="form-control" placeholder="Prénom" ngModel [(ngModel)]="currentUser.first_name"/>
                
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="form3Example2">Nom:</label>
                <input type="text" name="last_name" id="form3Example2" class="form-control" placeholder="Nom" ngModel [(ngModel)]="currentUser.last_name" />
            
            </div>
        </div>
        </div>

        <div class="form-outline mb-4 ">
            <label class="form-label" for="form3Example3">Nom Complet:</label>
            <input type="text" name="name" id="form3Example3" class="form-control" placeholder="Nom + Prénom" ngModel [(ngModel)]="currentUser.name"/>
            
        </div>
  
    <!-- Email input -->
        <div class="form-outline mb-4 ">
            <label class="form-label" for="form3Example3">adresse:</label>
            <input type="email" name="email" id="form3Example3" class="form-control" placeholder="FoulenFouleni@gmail.com" ngModel [(ngModel)]="currentUser.email"/>
            
        </div>
  
    
        <div class="col-12 ">
            <label class="form-label" for="inlineFormSelectPref">Role:</label>
            <select class="select form-control" name="role" ngModel [(ngModel)]="currentUser.role">
                <option value="1">Utilisateur</option>
                <option value="2">Admin</option>
                
            </select>
        </div>

        <div class="col-6 mb-4 ">
            <label class="form-label" for="form3Example3">Mot de passe:</label>
            <input type="password" id="form3Example3" class="form-control" placeholder="Mot de passe" name="password" ngModel [(ngModel)]="currentUser.password"/>
            
        </div>
    
        <div class="col text-center">
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary mb-4 btnSubmit">Modifier Utilisateur</button>
        </div>
    
    </form>
</div>
<div class="liste d-flex justify-content-end" >
    <img src="../assets/images/list.png" id="imgList" alt="">
    <a href="/users" id="linkList">Liste des utilisateurs</a>
</div>
</div>

<app-footer></app-footer>
