#simacLogo{
    width: 73px;
    height: 92px;
    margin: 20px;
}
h1{
    color: #0275d8;
    font-size: 40px;
    margin-top: 40px;
}

.email{
    width: 300px;
}
.password{
    width: 300px;
}

.btnLogin{
    width: 150px;
}

form{
    margin: 0 auto; 
    width:300px;
}

.form-group{
    margin-bottom: 35px;
}

a{
    font-weight: 500;
    color: #0275d8;
}

.wrapper{
    border: 1px #0778bc solid;
    width: 550px;
    margin: 0 auto;
    height: 60vh;
   
    
}

.col-lg-6{
    width: 400px;
}

@media screen and (max-height: 610px) {
    .wrapper{
        height: 80vh;
    }
}