
<img id="simacLogo" src="../assets/images/simacLogo.jpg">

<div class=" vertical-center align-items-center col-lg-12">
    <div class="wrapper " >
    <div class="row h-90 justify-content-center align-items-center ">
        
        <div class="col-lg-6">
            <div class="text-center mb-5"><h1>Se connecter</h1></div>
            <!-- Form -->
            <form #f="ngForm"  form-example mt-5 action="" method="post" (ngSubmit)="onLogin(f.value)">
                  
                <!-- Input fields -->
                <div class="form-group">
                    
                    <input type="text"  class="form-control email" id ="username" name = "username" placeholder="email" ngModel >
                </div>
                <div class="form-group ">
                    
                    <input type="password" class="form-control password " id="password" name="password" placeholder="Password..." ngModel >
                </div>
                <div class="m-4 text-center ">
                <button type="submit"  class="btn btn-primary btn-customized btnLogin">Se connecter</button>
                </div>

            <div class="m-4 text-center ">
                <a href="/forgotpassword">mot de passe oublié ?</a>
            </div>
                <!-- End input fields -->
                
            </form>
            <!-- Form end -->
        </div>
    </div>

</div>
</div>


