
<app-header></app-header>
<div class="container" >
<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<div class="table-responsive">
                
				<form #f="ngForm" (ngSubmit)="onChercher(f['value'])">
					<div class="main-search-input-wrap">
						<div class="main-search-input fl-wrap">
							<div class="main-search-input-item"> <input type="text" id="key" name="key" placeholder="Chercher utilisateurs..." ngModel> </div> <button class="main-search-button" type="submit">Chercher</button>
						</div>
					</div>
				</form>	
				<table class="table user-list" *ngIf="users">
					<thead>
						<tr>
							<th><span>User</span></th>
							<th class="text-center"><span>Nom</span></th>
							<th class="text-center"><span>Prénom</span></th>
							<th class="text-center"><span>Email</span></th>
							<th class="text-center"><span>Departement</span></th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let u of users">
							<td>
								<img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
								<a href="#" class="user-link" style="color: white;">{{u.first_name}} {{u.last_name}}</a>
								<span class="data user-subhead" style="color: #B1D4E0;">{{u.role_id}}</span>
							</td>
							<td class="text-center">
								<span class="data label label-default" style="color: white;">{{u.last_name}}</span>
							</td>
							<td class="text-center">
								<span class="data label label-default" style="color: white;">{{u.first_name}}</span>
							</td>
							<td class="text-center">
								<span class=" data label label-default" style="color: white;">{{u.username}}</span>
							</td>
							
							<td class="text-center">
								<span class="data label label-default" style="color: white;">{{u.id_dep.name}}</span>
							</td>
							<td style="width: 20%;">
								<a class="table-link">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
									</span>
								</a>
								<a class="table-link" (click)="onEditUser(u)">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
									</span>
								</a>
								<a class="table-link danger" (click)="onDeleteUser(u)">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<ul *ngIf="totalPages" class="pagination pull-right">
				<li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
				<li [ngClass]="i==currentPage?'active':''" *ngFor="let p of pages; let i=index" >
					<a (click)="onPageUser(i)">{{i}}</a>
				</li>
				
				<li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
				
			</ul>
			
		</div>
	</div>
	
</div>
</div>
