<app-header></app-header>

<main id="main">
  <section>
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-12 text-center mb-5">
          <h1 class="page-title">A propos</h1>
        </div>
      </div>

      <div class="row mb-5">

        <div class="d-md-flex post-entry-2 half a1">
          <a href="#" class="me-4 thumbnail">
            <img src="assets/images/aPropos1.jpg" alt="" class="img-fluid">
          </a>
          <div class="ps-md-5 mt-4 mt-md-0 a2">
            <div class="post-meta mt-4 littleTitle" style="color: #0a599e; font-family: Montserrat;">A propos</div>
            <h2 class="mb-4 display-4 " style="color: #0a599e; font-family: Montserrat;">Historique de SIMAC</h2>

            <p>SIMAC est une société d’ingénierie informatique exerçant dans le domaine des solutions informatiques depuis 1984 et fait partie du groupe SCET Tunisie. Dotée des experts qualifiés, la société SIMAC vous offre des services personnalisés dans le but de vous apporter la meilleure qualité de service.</p>
            <p>SIMAC investit depuis plus de 35 ans dans le domaine des solutions informatiques pour vous offrir des solutions évolutives..<br>Grâce à sa structure solide, SIMAC a bien réussi son extension à l’échelle internationale.  Elle vous accompagne dans la réalisation de vos projets en vous faisant bénéficier d’une réactivité exemplaire.</p>
          </div>
        </div>

        <div class="d-md-flex post-entry-2 half mt-5 a1">
          <a href="#" class="me-4 thumbnail order-2">
            <img src="assets/images/aPorpos2.jpg" alt="" class="img-fluid">
          </a>
          <div class="pe-md-5 mt-4 mt-md-0 a2">
            <div class="post-meta mt-4" style="color: #0a599e; font-family: Montserrat;">Mission &amp; Vision</div>
            <h2 class="mb-4 display-4" style="color: #0a599e; font-family: Montserrat;">Mission &amp; Vision</h2>

            <p>SIMAC est une SSII spécialisée dans le domaine du service informatique depuis 1984. Elle fait partie du groupe SCET Tunisie. Grâce à son expertise et son savoir-faire, notre société d’ingénierie informatique réussit toujours à vous fournir les solutions adéquates adaptées à votre gestion.</p>
            <p>A ce propos, nos solutions sont adaptées à toutes les tailles d’entreprise et répondent à vos besoins : ERP-PGI, CRM, gestion commerciale, gestion de production (GPAO), logiciel comptabilité, paie et autres.<br>A la fois adaptables et modulaires, nos produits s’adressent à tous les secteurs d’activité tels que : commerce, distribution, industrie, négoce, services et bien d’autres.</p>
          </div>
        </div>

      </div>

    </div>
  </section>

  <section class="mb-5 bg-light py-5 bot">
    <div class="container bot" data-aos="fade-up">
      <div class="row justify-content-between align-items-lg-center">
        <div class="col-lg-5 mb-4 mb-lg-0">
          <h2 class="display-4 mb-4" style="color: #0a599e;font-family: Montserrat;">MySignDoc</h2>
          <p>MySignDoc est une nouvelle solution de SIMAC étendant la série des produits "My...".<br>MySignDoc est orienté sécurité , Elle permet de signer les documents par un ou plusieurs signataires et elle est interne à SIMAC .</p>
          <p> Plus besoin d'imprimer, de numériser ou de télécopier. Avec une expérience de signature facile à utiliser et rapide, la signature de documents est un jeu d'enfant depuis votre votre ordinateur .</p>
          <p><a href="http://www.simac.tn/" class="more" style="color: #0a599e;">Consulter le site web officiel de SIMAC</a></p>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-6">
              <img src="assets/images/sideee4.jpg" alt="" class="img-fluid mb-4">
            </div>
            <div class="col-6 mt-4">
              <img src="assets/images/sideee5.jpg" alt="" class="img-fluid mb-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-12 text-center mb-5">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <h2 class="display-4" style="color: #0a599e;font-family: Montserrat;">Notre Equipe</h2>
            </div>
          </div>
        </div>
        <div class="col-lg-4 text-center mb-5">
          <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="img-fluid rounded-circle w-50 mb-4">
          <h4>Foulen Ben Foulen</h4>
          <span class="d-block mb-3 text-uppercase">Directeur Commercial</span>
         
        </div>
        <div class="col-lg-4 text-center mb-5">
          <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="img-fluid rounded-circle w-50 mb-4">
          <h4>Foulen Ben Foulen</h4>
          <span class="d-block mb-3 text-uppercase">Président Directeur Général</span>
        
        </div>
        <div class="col-lg-4 text-center mb-5">
          <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="img-fluid rounded-circle w-50 mb-4">
          <h4>Foulen Ben Foulen</h4>
          <span class="d-block mb-3 text-uppercase">Directeur Administratif &amp; Financier</span>
         
        </div>
        <div class="col-lg-4 text-center mb-5">
          <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="img-fluid rounded-circle w-50 mb-4">
          <h4>Foulen Ben Foulen</h4>
          <span class="d-block mb-3 text-uppercase">Directeur Génie Logiciel</span>
         
        </div>
        <div class="col-lg-4 text-center mb-5">
          <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="img-fluid rounded-circle w-50 mb-4">
          <h4>Foulen Ben Foulen</h4>
          <span class="d-block mb-3 text-uppercase">Directeur Qualité</span>
        
        </div>
        <div class="col-lg-4 text-center mb-5">
          <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="img-fluid rounded-circle w-50 mb-4">
          <h4>Foulen Ben Foulen</h4>
          <span class="d-block mb-3 text-uppercase">Directeur Support &amp; Infrastructure</span>
     
        </div>
      </div>
    </div>
  </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<app-footer></app-footer>


