<app-header></app-header>
    
<div class="h-100 vertical-center align-items-center col-lg-12">
    
        <div class="row w-50 col-lg-6" id="div1">
            <div class="col-lg-1">
                <img src="../assets/images/settings.png" id="imgProcessus" alt="">
            </div>
             <a href="/etape1"><div class="col-lg-11">
                <h1>Créer un Processus</h1>
            </div></a>
        </div>
        <div class="v-line">
        </div>
        <div class="row w-50 col-lg-6" id="div2">
            <div class="col-lg-1">
                <img src="../assets/images/enSavoirPlus.png" id="imgEnSavoirPlus" alt="">
            </div>
            <a href="#"><div class="col-lg-11">
                <h1>En Savoir Plus</h1>
            </div></a>
        </div>
    
</div>


<app-footer></app-footer>

