#simacLogo{
    width: 73px;
    height: 92px;
    margin: 20px;
}

.btnLogin{
    width: 150px;
}

form{
    margin: 0 auto; 
    width:300px;
}

h1{
    color: #0778bc;
    font-size: 40px;
}

.email{
    width: 300px;
}