<img id="simacLogo" src="../assets/images/simacLogo.jpg">


    <div class="row h-90 justify-content-center align-items-center ">
        
        <div class="col-lg-4">
            <div class="text-center mb-5"><h1>Mot de passe oublié</h1></div>
            <div class="text-center mb-5">
                <p>Saisissez l'adresse e-mail associé à votre compte MySignDoc. Nous vous enverrons votre mot de passe sur cette adresse e-mail.</p>
            </div>
            <!-- Form -->
            
            <form #f="ngForm"  form-example mt-5 action="" method="post" (ngSubmit)="chercherUtilisateurs(f.value)">
                  
                <!-- Input fields -->
                

                <div class="form-group mb-4 ">
                    
                    <input type="text"  class="form-control email" id ="username" name = "username" placeholder="email" ngModel >
                </div>
                
                <div class="m-4 text-center ">
                <button type="submit"  class="btn btn-primary btn-customized btnLogin">Réinitialiser</button>
                </div>
                <div class="m-4 text-center ">
                    <a href="/login">Retour </a>
                </div>
            </form>
            <div class="uploader-status">
                <mat-spinner *ngIf="showSpinner" [diameter]="50" style="margin:0 auto; stroke: #0778bc;" ></mat-spinner>
            </div> 
            <!-- Form end -->
        </div>
    </div>